@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
* {
}

=======
>>>>>>> dd357c208411ee1ba0ccb960edc963429d06a179
html {
  background-color: black;
  color: white;
}

.white-shadow {
  box-shadow: 15px 15px rgb(159, 159, 159);
}
