@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bronson';
  src: url('../../public/BronsonBlack.ttf');
}

html {
  background-color: black;
  color: white;
  overflow: hidden;
}

.white-shadow {
  box-shadow: 15px 15px rgb(159, 159, 159);
}
